// Colors.
// =========================================================
$color-blue-crm: #303f9f;
$color-pink-crm: #7b1fa2;
$color-gray-crm: #7a88a7;
$color-verify: #f08502;
$color-progress: #4ba3ef;
$color-review: #f6cc03;
$color-waiting: #c8cfd9;
$color-white: #fff;
$color-light-white: #f6f7fb;
$color-black: #000;
$color-light-black: #333;
$color-grey: #ddd;
$color-text-default: #666666;
$color-text-primary: #516378;

// Font-size
// =========================================================
$font-size-small: 12px; // 12px
$font-size-regular: 14px; // 16px
$font-size-content: 18px; // 18px
$font-size-hero-medium: 21px; //21px
$font-size-medium: 25px; // 25px
$font-size-subheading: 30px; // 30px
$font-size-splash: 35px; // 37px
$font-size-lg: 55px; // 54px
